@import '../../../scss/variables';

.social-media {
    display: flex;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
        width: 100% !important;
    }

    &__icon {
        font-size: 1.5rem;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            color: $primary-color !important;
        }
    }
}