@import '../../../scss/variables';

.gallery {
    padding: 5px;
    margin-bottom: 4rem;
    background: $heroimage-gradient;

    &__img {
        display: block !important;
        width: auto !important;
        height: 200px !important;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            height: 600px !important;
        }
    }
}