@import "../../scss/variables";

.contact {

    input,
    textarea {
        border-color: rgba(0, 0, 0, 0.1);
    }

    &__submit {
        margin-bottom: 0 !important;

        button {
            float: right;
        }
    }
}