@import '../../sass/variables';

.contact {

    label,
    .iltlc-form-explain {
        font-size: 1rem !important;
        font-weight: 700;
    }

    input {
        border: 1px solid $input-border-color !important;
    }

    &__submit {
        margin-bottom: 0 !important;

        button {
            float: right;
        }
    }
}