.projects {

    &__header {
        text-align: center;
    }

    &__content {
        margin-bottom: 2rem;

        .iltlc-card-body {
            height: auto;
            overflow: auto;

            @media (min-width: 768px) {
                height: 150px;
            }
        }
    }
}