.projects {

    h2 {
        text-align: center;
    }

    &__content {

        .iltlc-card-head-title,
        .iltlc-card-meta-description,
        .iltlc-card-extra {
            font-size: 1rem;
        }

        .iltlc-card-body {
            height: 150px;
            overflow: auto;
        }
    }
}