.portfolio-template {
    max-width: 2500px;
    margin: 0 auto;

    &__images-container {
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 5rem;

        @media (min-width: 1200px) {
            flex-direction: row;
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
    }

    &__mobile_and_tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;

        @media (min-width: 1200px) {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: flex-end;
        }
    }

    &__mobile {
        position: relative;
        z-index: 1;
        width: 65%;
        bottom: unset;
        left: unset;
        margin-bottom: 3rem;

        @media (min-width: 1200px) {
            left: 10%;
        }

        @media (min-width: 768px) {
            width: 20%;
            left: 0;
            bottom: -5%;
            margin-bottom: 0;
        }
    }

    &__tablet {
        position: relative;
        width: 75%;

        @media (min-width: 768px) {
            width: 45%;
        }
    }

    &__desktop {
        position: relative;
        right: 1%;
    }

    &__image-header {
        background: rgba(229, 0, 126, 0.6);
        border-radius: 50%;
        font-size: 1rem;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        padding-bottom: 0;
        position: absolute;
        text-align: center;
        margin-bottom: 0 !important;
        color: white !important;
        font-weight: 300;

        @media (min-width: 768px) {
            width: 8rem;
            height: 8rem;
            line-height: 8rem;
        }

        &--desktop {
            right: 2rem;
            top: 0;

            @media (min-width: 768px) {
                right: 4rem;
                top: -3rem;
            }
        }

        &--tablet,
        &--mobile {
            left: 0;
            top: 0;

            @media (min-width: 768px) {
                left: -3rem;
                top: -3rem;
            }
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__buttons-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 3rem;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        a {
            margin: 5px 0;

            @media (min-width: 768px) {
                margin: 0 15px;
            }
        }
    }
}