@import "../../../scss/variables";

.hero-image-gradient {
    position: relative;

    &__background {
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: $heroimage-gradient;

        @media (min-width: 1200px) {
            height: 600px;
        }
    }

    &__content {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translateX(-50%) translateY(-50%);
        padding: 15px;

        @media (min-width: 768px) {
            padding: 30px;
        }

        @media (min-width: 1200px) {
            width: 50%;
        }
    }

    &__subheader {
        color: white !important;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 2rem !important;

        @media (min-width: 768px) {
            font-size: 3rem !important;
        }
    }

    &__header {
        color: white !important;
        text-transform: capitalize;
        font-size: 2.5rem !important;

        @media (min-width: 768px) {
            font-size: 4rem !important;
        }
    }
}