@import "../../../scss/variables";

.hero-content {
    position: relative;

    &__backgroundImage {
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: $heroimage-gradient;

        @media (min-width: 1200px) {
            height: 600px;
        }
    }

    .hero-content-absolute {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translateX(-50%) translateY(-50%);
        padding: 15px;

        @media (min-width: 768px) {
            padding: 30px;
        }

        @media (min-width: 1200px) {
            width: 50%;
        }

        &__subheader {
            color: white;
            text-transform: uppercase;
            text-decoration: underline;
        }

        &__header {
            color: white;
            text-transform: capitalize;
        }
    }
}