.full-article {
    margin-top: 3rem;

    @media (min-width: 768px) {
        margin-top: 5rem;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__title {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}