@import "../../../../scss/variables";

.menu-bar {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    box-shadow: none;
    overflow: hidden;
    border-bottom: 1px solid transparent;

    .logo {
        display: flex;
        align-items: center;
        margin-right: 15px;

        @media(max-width: 767px) {
            margin-right: 0;
        }

        &__iltlc {
            font-family: 'Roboto',
                sans-serif;
            font-weight: 900;
            font-size: 3rem;
            margin: 0;
            color: $primary-color;
            line-height: 1;

            @media(max-width: 767px) {
                padding: 10px 20px;
                margin-left: -20px;
            }
        }
    }

    .menu-content {
        width: 100%;
        float: left;

        a,
        span {
            font-size: 1.5rem;
            font-weight: 900;
            text-transform: uppercase;
        }

        &__main-menu {

            @media(max-width: 767px) {
                display: none !important;
            }
        }

        &__secondary-menu {

            @media(max-width: 767px) {
                display: none !important;
            }
        }
    }

    .bars-menu {
        float: right;
        height: 32px;
        padding: 6px;
        min-width: 20px;
        margin-top: 15px;
        display: none;
        background: none;
        border: none !important;

        &:hover {
            background-color: transparent !important;
        }

        .bars-btn {
            display: block;
            width: 20px;
            height: 2px;
            background: $primary-color;
            position: relative;

            &:after,
            &:before {
                content: attr(x);
                width: 20px;
                position: absolute;
                top: -6px;
                left: 0;
                height: 2px;
                background: $primary-color;
            }

            &:after {
                top: auto;
                bottom: -6px;
            }
        }
    }
}