.clients {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 0;

    @media (min-width: 992px) {
        text-align: unset;
    }

    @media (min-width: 768px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    &__header {
        line-height: 1 !important;
        margin-bottom: 1rem !important;
    }

    &__col {
        padding: 0 !important;
    }

    &__image {
        width: 85%;
        display: block;
        margin: 0 auto;
    }
}