// Container

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1200px) {
        width: 1170px;
    }
}

// Typography

.iltlc-typography {
    color: $tertiary-color;
}

@media only screen and (max-width: 992px) {

    h1.iltlc-typography,
    .iltlc-typography h1 {
        font-size: 2.5rem;
    }

    h2.iltlc-typography,
    .iltlc-typography h2 {
        font-size: 2.2rem;
    }

    h3.iltlc-typography,
    .iltlc-typography h3 {
        font-size: 2rem;
    }

    h4.iltlc-typography,
    .iltlc-typography h4 {
        font-size: 1.7rem;
    }
}

// Buttons
.iltlc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    width: auto;
    font-size: 1rem;
    border-radius: 0;
    border: 1px solid $primary-color;
    font-weight: 700;
    text-transform: capitalize;

    &:hover {
        color: white;
        background-color: $primary-color;
    }

    @media (min-width: 768px) {
        width: 200px;
        height: 50px;
        font-size: 1.5rem;
    }
}

.btn-secondary {
    @extend .iltlc-btn;
    color: white;
    background-color: $primary-color;

    &:hover {
        color: $primary-color;
        background-color: white;
    }
}

// Menus
.iltlc-menu-horizontal {
    border-bottom: none !important;

    .iltlc-menu-item-selected {
        color: $paragraph-color !important;
        border-color: transparent !important;

        a {
            color: $paragraph-color !important;
        }
    }

    .iltlc-menu-item-active {
        border-color: transparent !important;
    }

    .iltlc-menu-item {
        a.active {
            color: $primary-color !important;
        }
    }
}

.iltlc-menu-inline {
    border-right: none !important;
}

// Border

.iltlc-card-bordered {
    border: 1px dotted $primary-color;
}

// Row
.row-with-margin-bottom {
    margin-bottom: 3rem;
}

.row-no-margin {
    margin: 0;
}

// Background Color

.bg-color {
    background-color: $background-div-color;
}

.bg-color-black {
    background-color: black;
}

// Card
.iltlc-card {

    .iltlc-card-head {
        border-bottom: 0;
    }

    .iltlc-card-head-title {
        color: $tertiary-color;
        font-weight: 700;
    }

    .iltlc-card-cover img {
        border-radius: 0;
        width: 95%;
        margin: 0 auto;
    }

    .iltlc-card-meta-title {
        font-weight: 700;
        color: $primary-color;
    }

    .iltlc-card-meta-description {
        color: $tertiary-color;
    }
}

// Link
a.iltlc-btn {

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

// Slider
.iltlc-slider-disabled .iltlc-slider-track {
    background-color: $slider-track-color !important;
}