.clients {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (min-width: 768px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__content {
        margin-bottom: 1rem;
    }

    &__image {
        width: 80%;
    }
}