.footer {
    background-color: black;
    padding: 2rem 0;
    margin-top: 3rem;

    @media (min-width: 768px) {
        margin-top: 5rem;
    }

    &__first-section {
        margin-bottom: 2rem;
    }

    &__second-section {
        margin-bottom: 2rem !important;

        @media (min-width: 768px) {
            margin-bottom: 0 !important;
        }
    }

    &__title {
        margin-bottom: 0 !important;
    }

    &__paragraph {
        color: white !important;

        &--second {
            margin-bottom: 0 !important;
            transition: color .2s ease-in-out;

            a:hover {
                color: white !important;
            }
        }
    }

    &__list {
        padding: 0;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (min-width: 768px) {
            display: block;
            flex-direction: unset;
            flex-wrap: unset;
        }
    }

    &__list-item {
        margin-right: 15px;
        transition: color .2s ease-in-out;

        @media (min-width: 768px) {
            margin-right: 0;
        }

        a:hover {
            color: white;
        }
    }

    &__copyright {
        color: white !important;
        text-align: center;
        margin: 0 !important;
        padding-top: 1rem;
        border-top: 1px dashed white;
    }
}