.footer {
    background-color: black;
    padding: 2rem 0;
    margin-top: 3rem;

    @media (min-width: 768px) {
        margin-top: 5rem;
    }

    &__first-section {
        margin-bottom: 3rem;
    }

    &__paragraph {
        color: white !important;

        &--second {
            margin-bottom: 0 !important;
        }
    }

    &__list {
        padding: 0;
        margin-bottom: 1rem;
    }

    &__copyright {
        color: white !important;
        text-align: center;
        margin: 0 !important;
        padding-top: 3rem;
        border-top: 1px dashed white;
    }
}