.quote {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;

    &__subtitle {
        color: white !important;
        font-weight: 100 !important;
        font-size: 3rem !important;
        margin-bottom: .5rem !important;
        text-transform: uppercase !important;
    }

    &__title {
        color: white !important;
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
        text-transform: uppercase;

        @media (min-width: 992px) {
            font-size: 4rem !important;
        }
    }
}