.quote {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;

    &__subtitle {
        color: white;
        font-weight: 100;
        font-size: 3rem;
        margin-bottom: .5rem;
        text-transform: uppercase;
    }

    &__title {
        color: white;
        font-size: 4rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}