@import "../../../scss/variables";

.post {
    margin-bottom: 2rem;

    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    &__title {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    &__calender {
        display: flex;
        flex-direction: row;

        i {
            margin-right: 5px;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__category-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 1rem;
    }

    &__category {
        font-size: .8rem !important;
        margin-bottom: 5px !important;
        margin-right: 8px !important;
    }
}