.projects {

    &__header {
        text-align: center;
    }

    &__content {
        margin-bottom: 2rem;

        .iltlc-card-body {
            height: auto;
            overflow: auto;
        }
    }
}