// Container

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1200px) {
        width: 1170px;
    }
}

// Typography

.iltlc-typography {
    color: $tertiary-color;
}

@media only screen and (max-width: 992px) {

    h1.iltlc-typography,
    .iltlc-typography h1 {
        font-size: 2.5rem;
    }

    h2.iltlc-typography,
    .iltlc-typography h2 {
        font-size: 2.2rem;
    }

    h3.iltlc-typography,
    .iltlc-typography h3 {
        font-size: 2rem;
    }

    h4.iltlc-typography,
    .iltlc-typography h4 {
        font-size: 1.7rem;
    }
}

// Background Color

.bg-color {
    background-color: $background-div-color;
}

.bg-color-black {
    background-color: black;
}

// Row
.row-with-margin-bottom {
    margin-bottom: 2rem;

    @media (min-width: 768px) {
        margin-bottom: 3rem;
    }
}

.row-no-margin {
    margin: 0;
}

// Buttons
.iltlc-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color-hover;
    width: 200px;
    height: 70px;
    font-size: 1.5rem;
    border-radius: 0;
    border: 1px solid $primary-color-hover;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
        color: white;
        background-color: $primary-color-hover;
    }
}

.btn-secondary {
    @extend .iltlc-btn;
    color: white;
    background-color: $primary-color-hover;

    &:hover {
        color: $primary-color-hover;
        background-color: white;
    }
}

// Menus
.iltlc-menu-horizontal {
    border-bottom: none !important;

    .iltlc-menu-item-selected,
    .iltlc-menu-item-active {
        border-color: transparent !important;
    }

    .iltlc-menu-item {
        a {
            color: $tertiary-color;

            &.active {
                color: $primary-color !important;
            }
        }
    }
}

.iltlc-menu-inline {
    border-right: none !important;

    .iltlc-menu-item {
        padding: 0 !important;

        a {
            padding: 0 24px !important;
        }
    }

    .iltlc-menu-item-selected {
        padding: 0 !important;
        background-color: unset !important;

        &::after {
            border-right: none;
        }
    }

    .iltlc-menu-item {
        a {
            color: $tertiary-color;
            border-right: 3px solid transparent !important;

            &.active {
                color: $primary-color !important;
                background-color: #fce3f7 !important;
                padding: 0 24px !important;
                border-right: 3px solid #bc01b0 !important;
            }
        }
    }
}

// Border

.iltlc-card-bordered {
    border: 1px dotted $primary-color;
}

// Card
.iltlc-card {

    .iltlc-card-head {
        border-bottom: 0;
    }

    .iltlc-card-head-title {
        color: $tertiary-color;
        font-weight: 700;
    }

    .iltlc-card-cover img {
        border-radius: 0;
        width: 95%;
        margin: 0 auto;
    }

    .iltlc-card-meta-title {
        font-weight: 700;
        color: $primary-color;
    }

    .iltlc-card-meta-description {
        color: $tertiary-color;
    }
}

// Link
a.iltlc-btn {
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

// Slider
.iltlc-slider-disabled .iltlc-slider-track {
    background-color: $slider-track-color !important;
}

// Spinner

.loading-spinner {
    text-align: center;
    padding: 5rem 0 4rem;
}

// Back to Top
.iltlc-back-top-content {
    background-color: $primary-color !important;
}