$primary-color: #bc01b0;
$secondary-color: #893765;
$tertiary-color: #343434;
$background-div-color: rgba(169, 154, 168, 0.1);
$background-nav-color: rgba(52, 52, 52, 0.28);
$paragraph-color: rgba(0, 0, 0, 0.45);
$input-border-color: rgba(0, 0, 0, 0.1);
$slider-track-color: rgba(188, 1, 176, 0.7);