@import "../../sass/variables";

.my-services {
    padding-top: 3rem;
    padding-bottom: 3rem;

    h2 {
        text-align: center;
    }

    &__content {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 100%;
        background-color: white;
        padding: 50px 30px;
        border: 1px dotted $primary-color;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: translateY(-12px);
            box-shadow: 0 0 20px 2px $tertiary-color;
        }

        @media (min-width: 992px) {
            margin-bottom: 0;
            width: 320px;
        }

        h5 {
            color: $tertiary-color;
        }

        img {
            width: 150px;
            height: 150px;
            margin-bottom: 1rem;
            border-radius: 50%;
        }

        p {
            font-size: 1rem;
        }
    }
}