@import "../../sass/variables";

.testimonials {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
        text-align: center;
    }

    .iltlc-card {
        width: 99% !important;
        display: block !important;
        margin: 0 auto;
        border: none;

        .iltlc-card-body {
            width: 100%;
            margin: 0 auto;
            background-color: $background-div-color;
        }

        .iltlc-avatar {
            width: 100px;
            height: 100px;
        }

        .iltlc-card-meta {
            margin-bottom: 2rem;
        }

        .iltlc-card-meta-description {
            color: $tertiary-color;
        }
    }

    .slick-dots {
        li {
            button {
                background: $secondary-color !important;
            }

            &.slick-active button {
                background: $primary-color !important;
            }
        }
    }
}